/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-05-25, 17:59:46
    Author     : Konrad
*/

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

td{
    width:20px;
    height:20px;
    text-align: center;
}
/*
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}
*/